body,
html,
ul {
  padding: 0;
  margin: 0;
}

ul {
  > li {
    list-style: none;
    font-size: 14px;
    line-height: 30px;
  }
}

.box {
  width: 230px;
  height: 500px;
  background: url('../images/VDD.jpeg') no-repeat center;
  background-size: cover;
}
